<div id="analysis-options" class="invisible">
    <fieldset>
        <legend>Analysis options</legend>
        <div class="form-group">
            <label>Start</label>
            <input type="date" class="form-control" />
        </div>
        <div class="form-group">
            <label>End</label>
            <input type="date" class="form-control" />
        </div>
        <label>Wind speed normalization strategy</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="strategy" id="strategy-max" value="max" />
            <label class="form-check-label" for="strategy-max">Maximum</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="strategy" id="strategy-avg" value="avg" />
            <label class="form-check-label" for="strategy-avg">Average</label>
        </div>
        <label class="mt-2">Turbine diameter (m)</label>
        <div class="row">
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="turbine-dia" id="turbine-dia40" value="40" />
                    <label class="form-check-label" for="turbine-dia40">40</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="turbine-dia" id="turbine-dia50" value="50" />
                    <label class="form-check-label" for="turbine-dia50">50</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="turbine-dia" id="turbine-dia60" value="60"/>
                    <label class="form-check-label" for="turbine-dia60">60</label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="turbine-dia" id="turbine-dia70" value="70" />
                    <label class="form-check-label" for="turbine-dia70">70</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="turbine-dia" id="turbine-dia80" value="80" />
                    <label class="form-check-label" for="turbine-dia80">80</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="turbine-dia" id="turbine-dia90" value="90" />
                    <label class="form-check-label" for="turbine-dia90">90</label>
                </div>
            </div>
        </div>

    </fieldset>
</div>
